-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: datn
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `affiliate_gioi_thieu`
--

DROP TABLE IF EXISTS `affiliate_gioi_thieu`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `affiliate_gioi_thieu` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `id_affiliate_khachhang` bigint(20) unsigned NOT NULL,
  `id_khachhang_duoc_gioithieu` bigint(20) unsigned NOT NULL,
  `ma_ref` varchar(255) DEFAULT NULL,
  `da_dang_ky_luc` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `affiliate_referrals_affiliate_user_id_foreign` (`id_affiliate_khachhang`),
  KEY `affiliate_referrals_referred_user_id_foreign` (`id_khachhang_duoc_gioithieu`),
  CONSTRAINT `affiliate_referrals_affiliate_user_id_foreign` FOREIGN KEY (`id_affiliate_khachhang`) REFERENCES `khachhang` (`id`) ON DELETE CASCADE,
  CONSTRAINT `affiliate_referrals_referred_user_id_foreign` FOREIGN KEY (`id_khachhang_duoc_gioithieu`) REFERENCES `khachhang` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `affiliate_yeu_cau_rut_tien`
--

DROP TABLE IF EXISTS `affiliate_yeu_cau_rut_tien`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `affiliate_yeu_cau_rut_tien` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `id_affiliate_khachhang` bigint(20) unsigned NOT NULL,
  `so_tien` decimal(15,2) NOT NULL,
  `ten_ngan_hang` varchar(255) DEFAULT NULL,
  `ten_chu_tai_khoan` varchar(255) DEFAULT NULL,
  `so_tai_khoan` varchar(255) DEFAULT NULL,
  `trangthai` varchar(255) NOT NULL DEFAULT '''pending''',
  `ghichu` text DEFAULT NULL,
  `duoc_duyet_luc` timestamp NULL DEFAULT NULL,
  `duoc_thanh_toan_luc` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `affiliate_withdraw_requests_affiliate_user_id_foreign` (`id_affiliate_khachhang`),
  CONSTRAINT `affiliate_withdraw_requests_affiliate_user_id_foreign` FOREIGN KEY (`id_affiliate_khachhang`) REFERENCES `khachhang` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `banners`
--

DROP TABLE IF EXISTS `banners`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `banners` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `tieude` varchar(255) NOT NULL,
  `phude` varchar(255) DEFAULT NULL,
  `chudenho` varchar(120) DEFAULT NULL,
  `noibat` varchar(180) DEFAULT NULL,
  `mota` text DEFAULT NULL,
  `hinhanh` varchar(255) NOT NULL,
  `loaimedia` varchar(255) NOT NULL DEFAULT '''image''',
  `hinhanh_mobile` varchar(255) DEFAULT NULL,
  `loai_media_mobile` varchar(255) DEFAULT NULL,
  `duongdan` varchar(255) DEFAULT NULL,
  `id_sanpham` bigint(20) unsigned DEFAULT NULL,
  `nhanchinh` varchar(60) DEFAULT NULL,
  `nhanphu` varchar(60) DEFAULT NULL,
  `huyhieu_sanpham` varchar(80) DEFAULT NULL,
  `dactinh_sanpham` varchar(120) DEFAULT NULL,
  `vitri` int(10) unsigned NOT NULL DEFAULT 0,
  `trangthai` tinyint(1) NOT NULL DEFAULT 1,
  `batdauluc` timestamp NULL DEFAULT NULL,
  `ketthucluc` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `bienthe`
--

DROP TABLE IF EXISTS `bienthe`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `bienthe` (
  `id_bienthe` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `id_sanpham` bigint(20) unsigned NOT NULL,
  `ten_bienthe` varchar(255) DEFAULT NULL,
  `gia` decimal(12,2) NOT NULL,
  `soluong` int(11) NOT NULL,
  `thuoc_tinh_json` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL,
  PRIMARY KEY (`id_bienthe`),
  KEY `bienthe_id_sanpham_foreign` (`id_sanpham`),
  CONSTRAINT `bienthe_id_sanpham_foreign` FOREIGN KEY (`id_sanpham`) REFERENCES `sanpham` (`id_sanpham`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=13773 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `bienthe_combo_offers`
--

DROP TABLE IF EXISTS `bienthe_combo_offers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `bienthe_combo_offers` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `id_bienthe` bigint(20) unsigned NOT NULL,
  `id_combo` bigint(20) unsigned NOT NULL,
  `loai_uudai` enum('free','discount') NOT NULL DEFAULT 'free',
  `giakhuyenmai_override` decimal(12,2) DEFAULT NULL,
  `mota_uudai` varchar(255) DEFAULT NULL,
  `gioi_han_soluong` int(10) unsigned DEFAULT NULL,
  `da_su_dung` int(10) unsigned NOT NULL DEFAULT 0,
  `ngay_het_han` datetime DEFAULT NULL,
  `trangthai` tinyint(4) NOT NULL DEFAULT 1,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `bienthe_combo_offers_id_bienthe_foreign` (`id_bienthe`),
  KEY `bienthe_combo_offers_id_combo_foreign` (`id_combo`),
  CONSTRAINT `bienthe_combo_offers_id_bienthe_foreign` FOREIGN KEY (`id_bienthe`) REFERENCES `bienthe` (`id_bienthe`) ON DELETE CASCADE,
  CONSTRAINT `bienthe_combo_offers_id_combo_foreign` FOREIGN KEY (`id_combo`) REFERENCES `combos` (`id_combo`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `bienthe_hinhanh`
--

DROP TABLE IF EXISTS `bienthe_hinhanh`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `bienthe_hinhanh` (
  `id_bienthe_hinhanh` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `id_sanpham` bigint(20) unsigned DEFAULT NULL,
  `duongdan` varchar(1000) NOT NULL,
  `thutu` tinyint(4) NOT NULL DEFAULT 0,
  PRIMARY KEY (`id_bienthe_hinhanh`),
  KEY `idx_bienthe_hinhanh_id_sanpham` (`id_sanpham`),
  CONSTRAINT `fk_bienthe_hinhanh_sanpham` FOREIGN KEY (`id_sanpham`) REFERENCES `sanpham` (`id_sanpham`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=350 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `cache`
--

DROP TABLE IF EXISTS `cache`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cache` (
  `key` varchar(255) NOT NULL,
  `value` mediumtext NOT NULL,
  `expiration` int(11) NOT NULL,
  PRIMARY KEY (`key`),
  KEY `cache_expiration_index` (`expiration`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `cache_locks`
--

DROP TABLE IF EXISTS `cache_locks`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cache_locks` (
  `key` varchar(255) NOT NULL,
  `owner` varchar(255) NOT NULL,
  `expiration` int(11) NOT NULL,
  PRIMARY KEY (`key`),
  KEY `cache_locks_expiration_index` (`expiration`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `cai_dat_ma_sinh_nhat`
--

DROP TABLE IF EXISTS `cai_dat_ma_sinh_nhat`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cai_dat_ma_sinh_nhat` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `kichhoat` tinyint(1) NOT NULL DEFAULT 1,
  `giochay` time NOT NULL DEFAULT '08:00:00',
  `id_voucher` int(11) DEFAULT NULL,
  `mavoucher` varchar(255) NOT NULL DEFAULT 'BIRTHDAY',
  `id_mau_email` varchar(255) NOT NULL DEFAULT 'birthday_default',
  `gui_mot_lan_moi_nam` tinyint(1) NOT NULL DEFAULT 1,
  `thu_lai_khi_that_bai` tinyint(1) NOT NULL DEFAULT 1,
  `thongbao_admin` tinyint(1) NOT NULL DEFAULT 0,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `birthday_coupon_settings_promotion_id_foreign` (`id_voucher`),
  CONSTRAINT `birthday_coupon_settings_promotion_id_foreign` FOREIGN KEY (`id_voucher`) REFERENCES `vouchers` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `cauhinh_xu`
--

DROP TABLE IF EXISTS `cauhinh_xu`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cauhinh_xu` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `ti_le_quy_doi` int(11) NOT NULL DEFAULT 1,
  `ti_le_tich_luy` decimal(5,2) NOT NULL DEFAULT 1.00,
  `phan_tram_giam_toi_da` int(11) NOT NULL DEFAULT 50,
  `trang_thai` tinyint(1) NOT NULL DEFAULT 1,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `combo_sanpham`
--

DROP TABLE IF EXISTS `combo_sanpham`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `combo_sanpham` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `id_combo` bigint(20) unsigned NOT NULL,
  `id_sanpham` bigint(20) unsigned NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `combo_sanpham_id_combo_foreign` (`id_combo`),
  KEY `combo_sanpham_id_sanpham_foreign` (`id_sanpham`),
  CONSTRAINT `combo_sanpham_id_combo_foreign` FOREIGN KEY (`id_combo`) REFERENCES `combos` (`id_combo`) ON DELETE CASCADE,
  CONSTRAINT `combo_sanpham_id_sanpham_foreign` FOREIGN KEY (`id_sanpham`) REFERENCES `sanpham` (`id_sanpham`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `combos`
--

DROP TABLE IF EXISTS `combos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `combos` (
  `id_combo` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `ten_combo` varchar(255) NOT NULL,
  `hinhanh` varchar(255) DEFAULT NULL,
  `mota` text DEFAULT NULL,
  `giakhuyenmai` decimal(12,2) NOT NULL,
  `trangthai` tinyint(4) NOT NULL DEFAULT 1,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id_combo`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `cuoc_tro_chuyen`
--

DROP TABLE IF EXISTS `cuoc_tro_chuyen`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cuoc_tro_chuyen` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `id_khachhang` bigint(20) unsigned NOT NULL,
  `tin_nhan_cuoi` text DEFAULT NULL,
  `tin_nhan_cuoi_luc` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `chat_conversations_user_id_foreign` (`id_khachhang`),
  CONSTRAINT `chat_conversations_user_id_foreign` FOREIGN KEY (`id_khachhang`) REFERENCES `khachhang` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `danh_sach_flashsale`
--

DROP TABLE IF EXISTS `danh_sach_flashsale`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `danh_sach_flashsale` (
  `id_session` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `ten_dot` varchar(255) NOT NULL,
  `thoi_gian_bat_dau` timestamp NULL DEFAULT NULL,
  `thoi_gian_ket_thuc` timestamp NULL DEFAULT NULL,
  `trang_thai` tinyint(4) NOT NULL DEFAULT 1,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id_session`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `danhgia`
--

DROP TABLE IF EXISTS `danhgia`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `danhgia` (
  `id_danhgia` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `id_dathang` bigint(20) unsigned NOT NULL,
  `id_bienthe` bigint(20) unsigned NOT NULL,
  `user_id` bigint(20) unsigned NOT NULL,
  `danhgia` int(11) NOT NULL,
  `binhluan` text DEFAULT NULL,
  `trangthai` varchar(255) NOT NULL DEFAULT 'pending',
  `created_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id_danhgia`),
  UNIQUE KEY `unique_review_per_item` (`id_dathang`,`id_bienthe`,`user_id`),
  KEY `danhgia_id_bienthe_foreign` (`id_bienthe`),
  KEY `danhgia_user_id_foreign` (`user_id`),
  CONSTRAINT `danhgia_id_bienthe_foreign` FOREIGN KEY (`id_bienthe`) REFERENCES `bienthe` (`id_bienthe`) ON DELETE CASCADE,
  CONSTRAINT `danhgia_id_dathang_foreign` FOREIGN KEY (`id_dathang`) REFERENCES `dathang` (`id_dathang`) ON DELETE CASCADE,
  CONSTRAINT `danhgia_user_id_foreign` FOREIGN KEY (`user_id`) REFERENCES `khachhang` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `danhmuc`
--

DROP TABLE IF EXISTS `danhmuc`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `danhmuc` (
  `id_danhmuc` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `id_danhmuc_cha` bigint(20) unsigned DEFAULT NULL,
  `ten_danhmuc` varchar(255) NOT NULL,
  `trangthai` varchar(20) NOT NULL,
  PRIMARY KEY (`id_danhmuc`),
  KEY `danhmuc_id_danhmuc_cha_foreign` (`id_danhmuc_cha`),
  CONSTRAINT `danhmuc_id_danhmuc_cha_foreign` FOREIGN KEY (`id_danhmuc_cha`) REFERENCES `danhmuc_cha` (`id_danhmuc_cha`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=15 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `danhmuc_cha`
--

DROP TABLE IF EXISTS `danhmuc_cha`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `danhmuc_cha` (
  `id_danhmuc_cha` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `ten_danhmuc` varchar(255) NOT NULL,
  `trangthai` enum('active','hidden') NOT NULL DEFAULT 'active',
  PRIMARY KEY (`id_danhmuc_cha`),
  UNIQUE KEY `danhmuc_cha_ten_danhmuc_unique` (`ten_danhmuc`)
) ENGINE=InnoDB AUTO_INCREMENT=14 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `dathang`
--

DROP TABLE IF EXISTS `dathang`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `dathang` (
  `id_dathang` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `id_khachhang` bigint(20) unsigned NOT NULL,
  `tongtien` decimal(12,2) NOT NULL,
  `trangthai` varchar(255) NOT NULL DEFAULT 'pending',
  `diachi` varchar(255) DEFAULT NULL,
  `PTTT` varchar(255) DEFAULT NULL,
  `trang_thai_thanh_toan` varchar(255) NOT NULL DEFAULT 'unpaid',
  `nha_cung_cap_thanh_toan` varchar(255) DEFAULT NULL,
  `ma_don_hang_thanh_toan` varchar(255) DEFAULT NULL,
  `ma_yeu_cau_thanh_toan` varchar(255) DEFAULT NULL,
  `ma_giao_dich_thanh_toan` varchar(255) DEFAULT NULL,
  `ma_ket_qua_thanh_toan` int(11) DEFAULT NULL,
  `thong_bao_thanh_toan` varchar(255) DEFAULT NULL,
  `kieu_thanh_toan` varchar(255) DEFAULT NULL,
  `thanh_toan_luc` timestamp NULL DEFAULT NULL,
  `du_lieu_thanh_toan` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL,
  `id_khuyenmai` bigint(20) unsigned DEFAULT NULL,
  `giam_gia` decimal(12,2) NOT NULL DEFAULT 0.00,
  `xu_dung` int(11) NOT NULL DEFAULT 0,
  `xu_nhan` int(11) NOT NULL DEFAULT 0,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `lydo` varchar(255) DEFAULT NULL,
  `minh_chung_hoan_tien` text DEFAULT NULL,
  PRIMARY KEY (`id_dathang`),
  KEY `dathang_user_id_foreign` (`id_khachhang`),
  CONSTRAINT `dathang_user_id_foreign` FOREIGN KEY (`id_khachhang`) REFERENCES `khachhang` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=62 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `dathang_chitiet`
--

DROP TABLE IF EXISTS `dathang_chitiet`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `dathang_chitiet` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `id_dathang` bigint(20) unsigned NOT NULL,
  `id_bienthe` bigint(20) unsigned NOT NULL,
  `soluong` int(11) NOT NULL,
  `gia` decimal(12,2) NOT NULL,
  `id_combo` bigint(20) unsigned DEFAULT NULL,
  `id_nhom_combo` varchar(255) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `hoantien` tinyint(1) NOT NULL DEFAULT 0,
  PRIMARY KEY (`id`),
  KEY `dathang_chitiet_id_dathang_foreign` (`id_dathang`),
  KEY `dathang_chitiet_id_bienthe_foreign` (`id_bienthe`),
  KEY `dathang_chitiet_id_combo_foreign` (`id_combo`),
  CONSTRAINT `dathang_chitiet_id_bienthe_foreign` FOREIGN KEY (`id_bienthe`) REFERENCES `bienthe` (`id_bienthe`),
  CONSTRAINT `dathang_chitiet_id_combo_foreign` FOREIGN KEY (`id_combo`) REFERENCES `combos` (`id_combo`) ON DELETE SET NULL,
  CONSTRAINT `dathang_chitiet_id_dathang_foreign` FOREIGN KEY (`id_dathang`) REFERENCES `dathang` (`id_dathang`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=71 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `diachi`
--

DROP TABLE IF EXISTS `diachi`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `diachi` (
  `id_diachi` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `id_user` bigint(20) unsigned NOT NULL,
  `tinh_thanhpho` varchar(255) NOT NULL,
  `quan_huyen` varchar(255) NOT NULL,
  `phuong_xa` varchar(255) NOT NULL,
  `diachi_cuthe` text NOT NULL,
  `latitude` decimal(10,7) DEFAULT NULL,
  `longitude` decimal(10,7) DEFAULT NULL,
  `loai_diachi` enum('home','company') NOT NULL,
  `mac_dinh` tinyint(1) NOT NULL DEFAULT 0,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id_diachi`),
  KEY `diachi_id_user_mac_dinh_index` (`id_user`,`mac_dinh`),
  CONSTRAINT `diachi_id_user_foreign` FOREIGN KEY (`id_user`) REFERENCES `khachhang` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `failed_jobs`
--

DROP TABLE IF EXISTS `failed_jobs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `failed_jobs` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `uuid` varchar(255) NOT NULL,
  `connection` text NOT NULL,
  `queue` text NOT NULL,
  `payload` longtext NOT NULL,
  `exception` longtext NOT NULL,
  `failed_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `failed_jobs_uuid_unique` (`uuid`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `giatri_thuoctinh`
--

DROP TABLE IF EXISTS `giatri_thuoctinh`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `giatri_thuoctinh` (
  `id_giatri` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `id_thuoctinh` bigint(20) unsigned NOT NULL,
  `giatri` varchar(255) NOT NULL,
  `gia_cong_them` decimal(15,2) NOT NULL DEFAULT 0.00,
  `danh_muc_ids` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL,
  `trangthai` tinyint(1) NOT NULL DEFAULT 1,
  PRIMARY KEY (`id_giatri`),
  KEY `giatri_thuoctinh_id_thuoctinh_foreign` (`id_thuoctinh`),
  CONSTRAINT `giatri_thuoctinh_id_thuoctinh_foreign` FOREIGN KEY (`id_thuoctinh`) REFERENCES `thuoctinh` (`id_thuoctinh`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=73 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `giohang`
--

DROP TABLE IF EXISTS `giohang`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `giohang` (
  `id_giohang` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `id_khachhang` bigint(20) unsigned NOT NULL,
  `id_bienthe` bigint(20) unsigned NOT NULL,
  `soluong` int(11) NOT NULL DEFAULT 1,
  `id_combo` bigint(20) unsigned DEFAULT NULL,
  `id_nhom_combo` varchar(255) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id_giohang`),
  KEY `giohang_id_bienthe_foreign` (`id_bienthe`),
  KEY `giohang_id_combo_foreign` (`id_combo`),
  KEY `giohang_user_id_index` (`id_khachhang`),
  KEY `giohang_id_khachhang_id_bienthe_index` (`id_khachhang`,`id_bienthe`),
  KEY `giohang_id_khachhang_id_nhom_combo_index` (`id_khachhang`,`id_nhom_combo`),
  CONSTRAINT `giohang_id_bienthe_foreign` FOREIGN KEY (`id_bienthe`) REFERENCES `bienthe` (`id_bienthe`) ON DELETE CASCADE,
  CONSTRAINT `giohang_id_combo_foreign` FOREIGN KEY (`id_combo`) REFERENCES `combos` (`id_combo`) ON DELETE SET NULL,
  CONSTRAINT `giohang_user_id_foreign` FOREIGN KEY (`id_khachhang`) REFERENCES `khachhang` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=129 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `job_batches`
--

DROP TABLE IF EXISTS `job_batches`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `job_batches` (
  `id` varchar(255) NOT NULL,
  `name` varchar(255) NOT NULL,
  `total_jobs` int(11) NOT NULL,
  `pending_jobs` int(11) NOT NULL,
  `failed_jobs` int(11) NOT NULL,
  `failed_job_ids` longtext NOT NULL,
  `options` mediumtext DEFAULT NULL,
  `cancelled_at` int(11) DEFAULT NULL,
  `created_at` int(11) NOT NULL,
  `finished_at` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `jobs`
--

DROP TABLE IF EXISTS `jobs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `jobs` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `queue` varchar(255) NOT NULL,
  `payload` longtext NOT NULL,
  `attempts` tinyint(3) unsigned NOT NULL,
  `reserved_at` int(10) unsigned DEFAULT NULL,
  `available_at` int(10) unsigned NOT NULL,
  `created_at` int(10) unsigned NOT NULL,
  PRIMARY KEY (`id`),
  KEY `jobs_queue_index` (`queue`)
) ENGINE=InnoDB AUTO_INCREMENT=113 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `khach_hang_affiliate`
--

DROP TABLE IF EXISTS `khach_hang_affiliate`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `khach_hang_affiliate` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `id_khachhang` bigint(20) unsigned NOT NULL,
  `ma_affiliate` varchar(255) NOT NULL,
  `ty_le_hoa_hong` decimal(5,2) NOT NULL DEFAULT 0.00,
  `trangthai` varchar(255) NOT NULL DEFAULT '''active''',
  `tong_thu_nhap` decimal(15,2) NOT NULL DEFAULT 0.00,
  `tong_da_thanh_toan` decimal(15,2) NOT NULL DEFAULT 0.00,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `affiliate_profiles_affiliate_code_unique` (`ma_affiliate`),
  KEY `affiliate_profiles_user_id_foreign` (`id_khachhang`),
  CONSTRAINT `affiliate_profiles_user_id_foreign` FOREIGN KEY (`id_khachhang`) REFERENCES `khachhang` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `khachhang`
--

DROP TABLE IF EXISTS `khachhang`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `khachhang` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `ten` varchar(255) NOT NULL,
  `email` varchar(255) NOT NULL,
  `anhdaidien` varchar(255) DEFAULT NULL,
  `sodienthoai` varchar(255) DEFAULT NULL,
  `email_verified_at` timestamp NULL DEFAULT NULL,
  `matkhau` varchar(255) NOT NULL,
  `vaitro` varchar(50) NOT NULL DEFAULT 'user',
  `id_facebook` varchar(255) DEFAULT NULL,
  `two_factor_secret` text DEFAULT NULL,
  `two_factor_recovery_codes` text DEFAULT NULL,
  `two_factor_confirmed_at` timestamp NULL DEFAULT NULL,
  `remember_token` varchar(100) DEFAULT NULL,
  `api_token` varchar(64) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `ngaysinh` date DEFAULT NULL,
  `gioitinh` varchar(10) DEFAULT NULL,
  `trangthai` enum('active','locked') NOT NULL DEFAULT 'active',
  `xu` int(11) NOT NULL DEFAULT 0,
  `otp_khoiphuc` varchar(10) DEFAULT NULL,
  `otp_khoiphuc_hethan_luc` timestamp NULL DEFAULT NULL,
  `hoat_dong_cuoi_luc` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `users_email_unique` (`email`),
  UNIQUE KEY `users_api_token_unique` (`api_token`)
) ENGINE=InnoDB AUTO_INCREMENT=22 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `khachhang_voucher`
--

DROP TABLE IF EXISTS `khachhang_voucher`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `khachhang_voucher` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `id_user` bigint(20) unsigned DEFAULT NULL,
  `id_voucher` int(11) DEFAULT NULL,
  `trang_thai` varchar(50) DEFAULT NULL,
  `ngay_nhan` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `id_user` (`id_user`),
  KEY `id_promotion` (`id_voucher`),
  CONSTRAINT `khachhang_voucher_ibfk_1` FOREIGN KEY (`id_user`) REFERENCES `khachhang` (`id`),
  CONSTRAINT `users_voucher_id_promotion_foreign` FOREIGN KEY (`id_voucher`) REFERENCES `vouchers` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=25 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `lich_su_xu`
--

DROP TABLE IF EXISTS `lich_su_xu`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `lich_su_xu` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `id_khachhang` bigint(20) unsigned NOT NULL,
  `so_xu` int(11) NOT NULL,
  `loai_giao_dich` varchar(255) NOT NULL,
  `id_dathang` bigint(20) unsigned DEFAULT NULL,
  `mo_ta` varchar(255) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `lich_su_xu_id_khachhang_foreign` (`id_khachhang`),
  KEY `lich_su_xu_id_dathang_foreign` (`id_dathang`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `lien_ket_affiliate`
--

DROP TABLE IF EXISTS `lien_ket_affiliate`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `lien_ket_affiliate` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `id_affiliate_khachhang` bigint(20) unsigned NOT NULL,
  `id_khachhang_duoc_gioithieu` bigint(20) unsigned DEFAULT NULL,
  `id_donhang` bigint(20) unsigned DEFAULT NULL,
  `so_tien` decimal(15,2) NOT NULL DEFAULT 0.00,
  `trangthai` varchar(255) NOT NULL DEFAULT '''pending''',
  `duoc_duyet_luc` timestamp NULL DEFAULT NULL,
  `duoc_thanh_toan_luc` timestamp NULL DEFAULT NULL,
  `ghichu` text DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `lienhe`
--

DROP TABLE IF EXISTS `lienhe`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `lienhe` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `hoten` varchar(255) DEFAULT NULL,
  `email` varchar(255) DEFAULT NULL,
  `sodienthoai` varchar(20) DEFAULT NULL,
  `noidung` text DEFAULT NULL,
  `trangthai` enum('new','processing','replied') DEFAULT 'new',
  `phanhoi` text DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `danhmuc` varchar(100) DEFAULT 'T╞░ vß║Ñn',
  `phan_hoi_luc` datetime DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `mausac`
--

DROP TABLE IF EXISTS `mausac`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `mausac` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `ten` varchar(100) NOT NULL,
  `mamau` varchar(7) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `colors_name_unique` (`ten`),
  UNIQUE KEY `colors_hex_code_unique` (`mamau`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `migrations`
--

DROP TABLE IF EXISTS `migrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `migrations` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `migration` varchar(255) NOT NULL,
  `batch` int(11) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=87 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `nhat_ky_admin`
--

DROP TABLE IF EXISTS `nhat_ky_admin`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `nhat_ky_admin` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `id_khachhang` bigint(20) unsigned NOT NULL,
  `hanhdong` varchar(255) DEFAULT NULL,
  `tenmodel` varchar(255) DEFAULT NULL,
  `id_doituong` varchar(255) DEFAULT NULL,
  `mota` text DEFAULT NULL,
  `diachi_ip` varchar(255) DEFAULT NULL,
  `user_agent` text DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `admin_activity_logs_user_id_foreign` (`id_khachhang`),
  CONSTRAINT `admin_activity_logs_user_id_foreign` FOREIGN KEY (`id_khachhang`) REFERENCES `khachhang` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=89 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `nhat_ky_gui_ma_sinh_nhat`
--

DROP TABLE IF EXISTS `nhat_ky_gui_ma_sinh_nhat`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `nhat_ky_gui_ma_sinh_nhat` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `id_khachhang` bigint(20) unsigned NOT NULL,
  `id_voucher` int(11) DEFAULT NULL,
  `id_khachhang_voucher` int(11) DEFAULT NULL,
  `mavoucher` varchar(255) NOT NULL,
  `email` varchar(255) NOT NULL,
  `ngaysinh` date NOT NULL,
  `guiluc` timestamp NULL DEFAULT NULL,
  `trangthai` varchar(255) NOT NULL DEFAULT 'pending',
  `thongbaoloi` text DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `birthday_coupon_logs_user_id_foreign` (`id_khachhang`),
  KEY `birthday_coupon_logs_promotion_id_foreign` (`id_voucher`),
  KEY `birthday_coupon_logs_user_voucher_id_foreign` (`id_khachhang_voucher`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `nhom_thuoctinh`
--

DROP TABLE IF EXISTS `nhom_thuoctinh`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `nhom_thuoctinh` (
  `id_nhom` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `ten_nhom` varchar(255) NOT NULL,
  `danh_muc_ids` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL,
  `trangthai` tinyint(1) NOT NULL DEFAULT 1,
  PRIMARY KEY (`id_nhom`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `noi_dung_tro_chuyen`
--

DROP TABLE IF EXISTS `noi_dung_tro_chuyen`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `noi_dung_tro_chuyen` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `id_cuoc_tro_chuyen` bigint(20) unsigned NOT NULL,
  `id_nguoigui` bigint(20) unsigned NOT NULL,
  `noidung` text DEFAULT NULL,
  `duongdan_dinhkem` varchar(255) DEFAULT NULL,
  `ten_dinhkem` varchar(255) DEFAULT NULL,
  `daxem` tinyint(1) NOT NULL DEFAULT 0,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `chat_messages_conversation_id_foreign` (`id_cuoc_tro_chuyen`),
  KEY `chat_messages_sender_id_foreign` (`id_nguoigui`)
) ENGINE=InnoDB AUTO_INCREMENT=107 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `otps`
--

DROP TABLE IF EXISTS `otps`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `otps` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `email` varchar(255) NOT NULL,
  `otp` varchar(255) NOT NULL,
  `hethan_luc` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `password_reset_tokens`
--

DROP TABLE IF EXISTS `password_reset_tokens`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `password_reset_tokens` (
  `email` varchar(255) NOT NULL,
  `token` varchar(255) NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`email`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `personal_access_tokens`
--

DROP TABLE IF EXISTS `personal_access_tokens`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `personal_access_tokens` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `tokenable_type` varchar(255) NOT NULL,
  `tokenable_id` bigint(20) unsigned NOT NULL,
  `name` text NOT NULL,
  `token` varchar(64) NOT NULL,
  `abilities` text DEFAULT NULL,
  `last_used_at` timestamp NULL DEFAULT NULL,
  `expires_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `personal_access_tokens_token_unique` (`token`),
  KEY `personal_access_tokens_tokenable_type_tokenable_id_index` (`tokenable_type`,`tokenable_id`),
  KEY `personal_access_tokens_expires_at_index` (`expires_at`)
) ENGINE=InnoDB AUTO_INCREMENT=147 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `san_pham_flashsale`
--

DROP TABLE IF EXISTS `san_pham_flashsale`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `san_pham_flashsale` (
  `id_sanpham_flashsale` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `id_danhsach` bigint(20) unsigned NOT NULL,
  `id_bienthe` bigint(20) unsigned NOT NULL,
  `gia_flash_sale` decimal(12,2) NOT NULL,
  `so_luong_gioi_han` int(11) NOT NULL,
  `so_luong_da_ban` int(11) NOT NULL DEFAULT 0,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id_sanpham_flashsale`),
  KEY `flash_sale_products_session_id_foreign` (`id_danhsach`),
  KEY `flash_sale_products_id_bienthe_foreign` (`id_bienthe`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `sanpham`
--

DROP TABLE IF EXISTS `sanpham`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `sanpham` (
  `id_sanpham` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `id_danhmuc` bigint(20) unsigned NOT NULL,
  `id_thuonghieu` bigint(20) unsigned NOT NULL,
  `thong_so_ky_thuat` longtext DEFAULT NULL COMMENT 'L╞░u trß╗» th├┤ng sß╗æ kß╗╣ thuß║¡t d╞░ß╗¢i dß║íng JSON',
  `tenSP` varchar(255) NOT NULL,
  `SKU` varchar(255) DEFAULT NULL,
  `trangthai` varchar(225) NOT NULL DEFAULT '0.00',
  `hinhanh` varchar(1000) DEFAULT NULL,
  `khoiluong` varchar(50) DEFAULT NULL,
  PRIMARY KEY (`id_sanpham`),
  KEY `sanpham_id_danhmuc_foreign` (`id_danhmuc`),
  KEY `sanpham_id_thuonghieu_foreign` (`id_thuonghieu`)
) ENGINE=InnoDB AUTO_INCREMENT=38 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `sanpham_daxem`
--

DROP TABLE IF EXISTS `sanpham_daxem`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `sanpham_daxem` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `id_khachhang` bigint(20) unsigned NOT NULL,
  `id_sanpham` bigint(20) unsigned NOT NULL,
  `xem_luc` timestamp NOT NULL DEFAULT current_timestamp(),
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `sanpham_daxem_id_user_id_sanpham_unique` (`id_khachhang`,`id_sanpham`),
  KEY `sanpham_daxem_id_sanpham_foreign` (`id_sanpham`)
) ENGINE=InnoDB AUTO_INCREMENT=22 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `sessions`
--

DROP TABLE IF EXISTS `sessions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `sessions` (
  `id` varchar(255) NOT NULL,
  `user_id` bigint(20) unsigned DEFAULT NULL,
  `ip_address` varchar(45) DEFAULT NULL,
  `user_agent` text DEFAULT NULL,
  `payload` longtext NOT NULL,
  `last_activity` int(11) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `sessions_user_id_index` (`user_id`),
  KEY `sessions_last_activity_index` (`last_activity`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `thuoctinh`
--

DROP TABLE IF EXISTS `thuoctinh`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `thuoctinh` (
  `id_thuoctinh` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `ten_thuoctinh` varchar(255) NOT NULL,
  `id_nhom` bigint(20) unsigned NOT NULL,
  `trangthai` tinyint(1) NOT NULL DEFAULT 1,
  PRIMARY KEY (`id_thuoctinh`),
  KEY `thuoctinh_id_nhom_foreign` (`id_nhom`)
) ENGINE=InnoDB AUTO_INCREMENT=15 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `thuonghieu`
--

DROP TABLE IF EXISTS `thuonghieu`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `thuonghieu` (
  `id_thuonghieu` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `ten_thuonghieu` varchar(255) NOT NULL,
  `danh_muc_ids` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `logo` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id_thuonghieu`)
) ENGINE=InnoDB AUTO_INCREMENT=12 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `tintuc`
--

DROP TABLE IF EXISTS `tintuc`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tintuc` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `tieude` varchar(255) NOT NULL,
  `slug` varchar(255) NOT NULL,
  `danhmuc` varchar(255) NOT NULL DEFAULT 'Tin tß╗⌐c',
  `tacgia` varchar(255) NOT NULL DEFAULT 'Admin',
  `hinhanh` varchar(255) DEFAULT NULL,
  `mota_hinhanh` varchar(255) DEFAULT NULL,
  `trangthai` enum('draft','scheduled','published') NOT NULL DEFAULT 'draft',
  `dang_luc` timestamp NULL DEFAULT NULL,
  `luotxem` bigint(20) unsigned NOT NULL DEFAULT 0,
  `tomtat` text DEFAULT NULL,
  `noidung` longtext DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `news_slug_unique` (`slug`)
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `vai_tro`
--

DROP TABLE IF EXISTS `vai_tro`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `vai_tro` (
  `id_vaitro` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `ten_vaitro` varchar(255) NOT NULL,
  `ma_vaitro` varchar(255) NOT NULL,
  `mo_ta` text DEFAULT NULL,
  `quyen` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`quyen`)),
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id_vaitro`),
  UNIQUE KEY `vai_tro_ma_vaitro_unique` (`ma_vaitro`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `vouchers`
--

DROP TABLE IF EXISTS `vouchers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `vouchers` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `ten` varchar(255) DEFAULT NULL,
  `danhmuc` varchar(50) NOT NULL DEFAULT 'product',
  `code` varchar(50) DEFAULT NULL,
  `loai` varchar(20) DEFAULT NULL,
  `giatri` int(11) DEFAULT NULL,
  `mota` longtext NOT NULL,
  `ngaybatdau` date DEFAULT NULL,
  `ngayketthuc` date DEFAULT NULL,
  `trangthai` varchar(20) DEFAULT NULL,
  `congkhai` tinyint(1) NOT NULL DEFAULT 1,
  `dieu_kien_tang` decimal(15,2) DEFAULT NULL,
  `so_luong_phat` int(11) DEFAULT NULL,
  `loai_dieu_kien` varchar(50) DEFAULT NULL,
  `dieu_kien` decimal(10,2) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=34 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `yeuthich`
--

DROP TABLE IF EXISTS `yeuthich`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `yeuthich` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `id_khachhang` bigint(20) unsigned NOT NULL,
  `id_bienthe` bigint(20) unsigned NOT NULL,
  `soluong` int(11) NOT NULL DEFAULT 1,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `yeuthich_user_id_foreign` (`id_khachhang`),
  KEY `yeuthich_id_bienthe_foreign` (`id_bienthe`)
) ENGINE=InnoDB AUTO_INCREMENT=17 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-07-07 11:19:40
